*{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #696969;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    border-bottom: 2px solid;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(153, 151, 151);
}

.blockquote{
    border: 1px solid ;
    border-radius: 50px;
}